.img-card{

    width: 100%;
    margin: auto;


}

.grid-img{
    place-self: center;
}

.grid{
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-template-rows: minmax(200px, auto);   
   gap: 30px;
   padding: 20px;
align-items: center;
margin: auto;
   
   max-width: 980px;
   
}

.grid-item{
  color: #000;
  
  
}

