
.grid-buttons{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    background-color: aqua;
    color: #000;
}



.grid-buttons-item{
    margin-top: 20px;
    width: 50%;
    height: 150px;
    background-color: var(--links);
    color: #000;
    border-radius: 42px;
    align-self: center;
    justify-self: center;
    text-align: center;
    line-height: 150px;
}

.grid-buttons-item a{
    color: #000;
}