@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
body {
    font-family: 'Play', sans-serif;
}

#header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../IMG/pexels-dick-hoskins-5188293.jpg);
    height: 800px;
    width: 100%;
}