:root {
    --theme-color: white;
    --links: black;
    --primary-color: #124f88;
    --secundary-color: #f7c331;
    --text-color-inverse: white;
    --text-color: #000;
    --navbar-shadow-color: black;
    --menu-mobile-background-color: #3a4460;
    --brand-title: #ffeb3b;
    --wave-color: #f3f4f5;
}

@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Jura:wght@500&display=swap');
body {
    font-family: 'Belleza', sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    padding-top: 70px;
}

.horizontal-padding{
padding-left: 25px;
padding-right: 25px;
}

.vertical-padding{
padding-top: 25px;
padding-bottom: 25px;
}

a {
    text-decoration: none;
    color: var(--links);
}

ul {
    padding: 0;
}

@media (min-widht: 950px){

.horizontal-padding{
    padding-left: 25px;
    padding-right: 25px;
    }
    
    .vertical-padding{
    padding-top: 70px;
    padding-bottom: 70px;
    }
    
}